<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/plugandplay?useSSL=false</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">temp4now</property>
  <property name="show_sql">true</property>
  <property name="hibernate.c3p0.min_size">5</property>
  <property name="hibernate.c3p0.max_size">20</property>
  <property name="hibernate.c3p0.timeout">1800</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <property name="hibernate.c3p0.idle_test_period">300</property>
  <property name="hibernate.c3p0.acquire_increment">1</property>
  <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <!-- <property name="hibernate.hbm2ddl.auto">create</property> -->
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.search.default.directory_provider">filesystem</property>
  <property name="hibernate.search.default.indexBase">/tmp/lucene/indexes</property> 
  <mapping class="com.tech.plugandplay.model.Ventures"/>
  <mapping class="com.tech.plugandplay.model.Top100"/>
  <mapping class="com.tech.plugandplay.model.Top100List"/>
  <mapping class="com.tech.plugandplay.model.Top20"/>
  <mapping class="com.tech.plugandplay.model.Top20List"/>
  <mapping class="com.tech.plugandplay.model.Dealflow"/>
  <mapping class="com.tech.plugandplay.model.DealflowList"/>
  <mapping class="com.tech.plugandplay.model.Batch"/>
  <mapping class="com.tech.plugandplay.model.BatchList"/>
  <mapping class="com.tech.plugandplay.model.Users"/>
</session-factory>
</hibernate-configuration>